---
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={`${SITE_TITLE} home`} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header />
    <main class="text-lg text-neutral-200">
      <h1 class="text-4xl">I'm David 👋</h1>
      <p class="text-sm">(or Duro online)</p>

      <br/>
      <p>
        Right now, I'm a student at East Tennessee State University, where I'm studying computer science.
      </p>
      <br />

      <p>I enjoy working as a full-stack software engineer, working with languages such as <b>TypeScript</b>, <b>Python</b>, and <b>Rust</b>.
      I've played around with a lot of different languages, frameworks, and tools, but I find myself always coming back to these.</p>
      <br />

      <p>
        In my free time, I like to code,
        <a href="https://www.last.fm/user/duroo_">listen to music</a>, and play
        video games (mostly Minecraft).
      </p>

      <br />

      <p>
         If you'd like to get in touch, you can find me on Discord at <a href="https://discord.com/users/283312847478325251">_duro</a>, or email me at <a href="mailto:david@durocodes.me">david@durocodes.me</a>.
      </p>
    </main>
    <Footer />
  </body>
</html>
