---
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Project from "../components/Project.astro";

interface Repo {
  owner: string;
  repo: string;
  description: string;
  language: string;
  languageColor: string;
  stars: string;
  forks: string;
}

const pinnedRepos = (await (
  await fetch(
    "https://gh-pinned-repos-tsj7ta5xfhep.deno.dev/?username=durocodes",
  )
).json()) as Repo[];
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`${SITE_TITLE} home`} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header title={SITE_TITLE} />
    <main class="text-lg text-neutral-200">
      <h1 class="text-4xl pb-2">I'm Duro</h1>
      <p>
        I'm a self-taught developer, and I like to work with
        <b>TypeScript</b>, <b>Kotlin</b>, and a bit of <b>Rust</b>.
      </p>
      <br />
      <p>
        I'm currently computer science student, with a focus on information
        systems. In my free time, I like to code, [listen to music](https://i.airbuds.fm/david..wright/e4H6R9M498), and play
        video games, mostly Minecraft.
      </p>
      <br />
      <br />
      <h2 class="text-3xl pb-4">My Projects</h2>

      <section
        class="grid grid-cols-1 gap-4 auto-cols-max sm:grid-cols-2 sm:gap-3"
      >
        {pinnedRepos.map((repo) => <Project {...repo} />)}
      </section>
    </main>
    <Footer />
  </body>
</html>
